
body {
	background-color: #000 !important;
}

p, h1, label {
	color: #cccccc !important;
}

input {
	font-family: FontAwesome !important;
}

.review-wrapper {
	/*width: 150px;*/
    height: 500px;
    overflow: scroll;
}

.reg-form {
	padding: 3% 5% 5% 5%;
	border-style: solid;
	border-radius: 50px;
	background: rgba(100, 100, 100, .1);
}

.form {
	border-radius: 15px;
	background: rgba(100, 100, 100, .1);
}

.title {
	color: #cccccc;
}

.movie-prev {
	background: rgba(100, 100, 100, .1); 
	border-radius: 15px; 
	padding: 5% 5% 5% 5%;
	margin-top: 1cm;
	border-style: solid;
}

.profile-avatar {
	border-radius: 50px; 
}

.devise-helper {
	text-decoration: underline;
	color: #cccccc;
}

.paginate-wrapper {
	clear: both;
}

.my-forms {
	margin: 0 auto; 
}

